.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
}
.upper_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.upper_container__image_details_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: ; */
}

.upper_container__productDetails_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  width: 400px;
  gap: 0.5rem;
}

.upper_container__productDetails_container__text {
  display: flex;
  gap: 0.3rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.price_container {
  font-size: 1.1rem;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price_container__title {
  font-size: 0.8rem;
  font-weight: 600;
  color: #0a6c02;
  font-family: var(--font-lato);
}

.upper_container__productDescription_container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-left: 1px solid #e6e6e6;
  height: 100%;
  gap: 0.3rem;
}

.upper_container__productDescription_container > h2 {
  margin: auto;
}

.upper_container__buttons_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;
  margin-top: 1rem;
}

/* media queries */
@media screen and (max-width: 1250px) and (min-width: 1030px) {
  .upper_container__productDescription_container {
    font-size: 0.8rem;
  }
  .upper_container__productDetails_container {
    width: 250px;
  }
}

@media screen and (max-width: 1030px) and (min-width: 600px) {
  .upper_container__productDescription_container {
    font-size: 1rem;
    width: 100%;
  }

  .upper_container {
    flex-wrap: wrap;
  }

  .upper_container__image_details_container {
    width: 100%;
    justify-content: flex-start;
    border-bottom: 1px solid #e7e7e7;
  }
}

@media screen and (max-width: 600px) {
  .upper_container__image_details_container {
    flex-wrap: wrap;
  }

  .upper_container {
    flex-wrap: wrap;
  }
  .upper_container__productDetails_container {
    width: 100%;
  }
}
