.container {
  max-width: 100vw;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  overflow: hidden;
  margin: 0;
}

.category {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  width: 6rem;
  text-align: center;
}

.image {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.link {
  text-decoration: none;
  color: black;
}

/* Media Queries */
@media screen and (max-width: 1200px) and (min-width: 1000px) {
  .container {
    gap: 2rem;
  }
  .category {
    margin: 1rem 0;
  }
  .image {
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (max-width: 1000px) and (min-width: 880px) {
  .container {
    gap: 1rem;
  }
  .category {
    margin: 1rem 0;
  }
  .image {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 880px) and (min-width: 700px) {
  .container {
    gap: 0.5rem;
  }
  .category {
    margin: 0.7rem 0;
    padding: 0 10px;
  }
  .image {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 700px) and (min-width: 320px) {
  .container {
    gap: 0.2rem;
    flex-wrap: wrap;
  }
  .category {
    margin: 0.7rem 0;
  }
  .image {
    width: 2rem;
    height: 2rem;
  }
}
