.product__container {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 350px;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  box-shadow: 0 0 5px #ccc;
  overflow: hidden;
}

.product__container:hover {
  box-shadow: 0 0 5px #aaa;
}

.product__image__container {
  width: 100%;
  height: 180px;
}

.product__image {
  width: 280px;
  height: 180px;
}

.product__details__container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
}

.product__details__container__text {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}
